
body {
    margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: "Georgia", "Times New Roman", Times, serif;
	background: #dddddd; 
}

header {
	background-color: #ffffff;
	height: 65px;
}

h1 {
	background-color: #4aaaa5;
	padding: 20px;
	width: 180px;
	color: white;
	font-size:25px;
	text-align: center;
	float: left;
}
nav {
	text-align: right;
	padding: 20px;
	margin-right: 75px;
}
h2 {
	font-size: 24px;
	color:#4aaaa5;
	margin-bottom: 20px; 
}
p {
	line-height: 25px;
	color: #777777;
	font-family: 'Josefin Sans', sans-serif;
}
a {
	text-decoration:none;
	color:#777777;
	font-size: 15px;
}
a:hover {
	background-color: #f7e3e3;
}
footer {
	clear:both;
	text-align: center;
	background: #333333;
	color: #ffffff;
	padding: 20px;
	font-size: 10px;
}

button {
	padding: 10px;
	background: #4aaaa5;
	border-style: none;
	width: 80px;
	color: white;
	font-size: 15px;
}

input {
	width: 95%;
	padding: 5px;
	margin-bottom: 5px; 
}

.container {
	width: 1024px;
	margin: 0 auto;
}
#main-bio,
#contact-info,
#bio-image,.line {
	float: left;
}
#main-bio {
	width: 650px;
	margin-right: 10px:
	background-color: white; 
	border: #cccccc;
	margin-top:30px;
	background: white;
	padding: 20px;
	margin-bottom: 30px;
}
#contact-info {
	width: 250px;
	margin-top: 30px;
	padding: 20px;
	background: white;
	margin-left: 20px;
	margin-right: 20px; 
}

#bio-image {
	width: 200px;
	height: 200px;
	margin-right: 20px;
}

.icons {
	width: 80px;
	height: 80px;
}
.headerbox {
	width: 1024px;
	margin: 0 auto;
}

.line {
	height:7px;
	width: 1024px;
	background: #4aaaa5;
}
.tag {
	color: #777777;
	padding: 5px;

}
#Message{
	height: 300px;
}

.pictrues {
	width: 190px;
	height: 150px;
	padding: 8px;
	position: relative;
}
.pictag {
	padding: 10px;
	color: white;
	width: 170px;
	text-align: center;
	background: #4aaaa5;
	position: absolute;
	display: inline-block;
}